:root {
  --ss-background: #EFF5F4;
  --ss-surface: #FAFDFD;
  --ss-chrome: #DBE3E2;
  --ss-foreground: #090C0B;
  --ss-muted-foreground: #4D5150;
  --ss-chrome-foreground: #090C0B;
  --ss-border: #B4BDBB;
  --ss-primary: #1B6B64;
  --ss-primary-foreground: #FAFCFC;
  --ss-accent: #3A5F8D;
  --ss-accent-foreground: #FAFCFC;
  --ss-focus: #3A5F8D;
  --ss-success: #006425;
  --ss-success-foreground: #FAFCFC;
  --ss-warning: #6E4B00;
  --ss-warning-foreground: #FAFCFC;
  --ss-danger: #902824;
  --ss-danger-foreground: #FAFCFC;
  --ss-primary-50: #E5FFFB;
  --ss-primary-100: #C4F7F1;
  --ss-primary-200: #AEE4DD;
  --ss-primary-300: #90CBC4;
  --ss-primary-400: #6CACA5;
  --ss-primary-500: #4B918A;
  --ss-primary-600: #307A72;
  --ss-primary-700: #1B625B;
  --ss-primary-800: #004842;
  --ss-primary-900: #002E2A;
  --ss-primary-950: #001614;
  --ss-accent-50: #F4F9FF;
  --ss-accent-100: #DEEDFF;
  --ss-accent-200: #BDDAFF;
  --ss-accent-300: #9FC1EA;
  --ss-accent-400: #7EA1CD;
  --ss-accent-500: #6186B4;
  --ss-accent-600: #496E9B;
  --ss-accent-700: #365780;
  --ss-accent-800: #213E62;
  --ss-accent-900: #0C2746;
  --ss-accent-950: #00112A;
}
